.newRecipeButtonWrapper{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* z-index: 100; */
    background-color: rgba(250, 244, 244, 0.852);

}

.createRecipeWrapper{
    /* display: flex; */
    border:1px lightgray solid;
    border-radius: 10px;
    gap: 5%;
    margin: 2% auto;
    width:75%;
    text-align:end;
}

.listingInput{
    padding:4%;
    border:1px lightgray solid;
    border-radius: 6px;
    width:70%
}



.createRecipeEl{
    width: 75%;
    margin: 2% auto;

}
.createRecipeStep{
    margin: 1% auto;

}

.createRecipelabel{
    text-align: start;
    display: block;
    margin-Left: 22%;
    margin-bottom: 1%;
}