.newRecipeButtonWrapper{
    display: flex;
    justify-content: space-between;

}

.newRecipeBasics, .newReceipeIntroWrapper{
    display: flex;
    border:1px lightgray solid;
    border-radius: 10px;
    gap: 5%;
    margin-top: 2%;
}
.newRecipeTitle,.newReceipeIntro,.newReceipeStep{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.newRecipeIngredientWrapper{
    border:1px lightgray solid;
    border-radius: 10px;
    margin-top: 2%;
}

.newReceipeStep{
    width: 80%;
    margin: 2% auto;

}
lable{
    display: block;
}