.newRecipeButtonWrapper{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 10%;
}

.newRecipeBasics, .newReceipeIntroWrapper{
    display: flex;
    border:1px lightgray solid;
    border-radius: 10px;
    gap: 5%;
    margin: 2% auto;
    width:75%;
}
.newRecipeTitle,.newReceipeIntro,.newReceipeStep{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.newRecipeIngredientWrapper{
    border:1px lightgray solid;
    border-radius: 10px;
    margin: 2% auto;
    width:75%;
}

.newReceipeStep{
    width: 75%;
    margin: 2% auto;

}
lable{
    display: block;
}