
#footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #555;
  position: relative;
  padding: 30px 2.5vw 10px;
}


#footer .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}


#footer .footer-rule {
  width: 100%;
}


#footer .footer-rule hr {
  border-top-width: 1px;
  border-bottom-width: 0;
  border-color: #bbb;
}

#footer li a {
  color: #bbb;
  line-height: 21px;
  padding: 2px 0;
  display: inline-block;
}


#footer li a:hover {
  color: #fff;
  text-decoration: none;
}


#footer li a .category-icon {
  font-size: 20px;
  margin-top: -3px;
  margin-right: 12px;
}


#footer .footer-row {
  width: 100%;
  max-width: 1016px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


@media (max-width: 1199px) {
  #footer .footer-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}


#footer .footer-row-bottom {
  max-width: 100%;
}


#footer .footer-row .footer-categories {
  width: 425px;
}


@media (max-width: 1199px) {
  #footer .footer-row .footer-categories {
    width: 300px;
  }
}


@media (max-width: 768px) {
  #footer .footer-row .footer-categories {
    width: 200px;
  }
}


#footer .footer-row .footer-categories-links {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  width: 280px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}


@media (max-width: 768px) {
  #footer .footer-row .footer-categories-links {
    width: 200px;
  }
}


#footer .footer-row .robot-icon {
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 130px;
  width: 150px;
  margin-right: 10px;
  margin-top: -10px;
}


@media (max-width: 660px){
  #footer .footer-row .robot-icon {
    display: none;
  }
}


#footer .footer-row .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;width:100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #bbb;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


@media (max-width: 1199px) {
  #footer .footer-row .footer-links {
    margin: 0 1vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}


#footer .footer-row .footer-links .adsk-logo img {
  height: 24px;
  width: auto;
}


#footer .footer-row .footer-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}


@media (max-width: 600px) {
  #footer .footer-row .footer-links-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  #footer .footer-row .footer-links-list .divider {
    display: none;
  }
}


#footer .footer-row .footer-links-list .divider {
  margin: 0 5px;
}


.footer-about-us {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.footer-links {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.footer-links-list {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.fa-hamburger {
  padding-right: 12px;
}

.fa-drumstick-bite {
  padding-right: 12px;
}

.fa-ice-cream {
  padding-right: 12px;
}

.fa-fish {
  padding-right: 12px;
}

.fa-utensils {
  padding-right: 12px;
}

.fa-birthday-cake {
  padding-right: 12px;
}

.fa-carrot {
  padding-right: 12px;
}

.fa-linkedin {
  font-size: 1.2rem;
  padding-right: 5px;
}

.fa-github-square {
  font-size: 1.2rem;
}

.group-name {
  margin-left: 0;
  color: #bbb;
}

.groupmates {
  margin-right: 0 !important;
}

.member-name {
  text-align: left;
  margin-left: 0;
}

.footer-about-us > ul > li {
  justify-content: space-between;
  text-align: center;
}
