.loginPage {
    display: flex;
    position: fixed;
    flex-direction: row;
    background-image: url("cook.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
}

.loginformContainer {
    display: flex;
    height: 100vmax;
    background-color: rgba(15, 15, 15, 0.199) ;
    backdrop-filter: blur(5px);
    margin-left: 50px;
    width: 365px;
    justify-content: center;
    padding-top: 115px;
}

.loginInput,.signupInput{
    padding: 9px 11px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px grey;
    width: 100%;
    margin: 10px 10px 10px -10px;
    border: none;
    height: 20px;
}

.loginInput:hover, .signupInput:hover {
    box-shadow: 0px 0px 2px 1px rgba(255, 166, 0, 0.397);
}

.loginButton {
    width: 109%;
    margin: 10px 10px 10px -10px;
    padding: 9px 11px;
    border-radius: 5px;
    border: none;
    height: 40px;
    background-color: #faac18;
    color: white;
    font-size: 16px;

}

.loginButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgba(255, 166, 0, 0.397);
}

.loginSignupText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.loginSignupText > a {
    color: white;
}

.signupInput{
    margin: 2px 10px 2px -10px;

}
