@import url('http://fonts.cdnfonts.com/css/myriad-pro');

@font-face {
  font-family: 'myriad-pro-condensed';
  font-style: normal;
  font-weight: normal;
  src: local('myriad-pro-condensed'), url('MYRIADPRO-COND.woff') format('woff');
  }


/* main {
  display: block;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#home-container {
  width: auto;
  border: none;
  border-radius: 0;
  position: relative;
  min-height: 100px;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  display: block;
}


#home-content-rotator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40vh;
  min-height: 400px;
}


.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}


.home-content-rotator-inner {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}


.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}


.carousel.carousel-fade .carousel-inner .item {
  opacity: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.home-content-rotator-slide.item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
} */

/* .carousel-inner >.item {
  display: none;
  position: relative;
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
} */

/* .home-content-rotator-slide-align-middle {
  background-position: center center;
} */

/* .home-content-rotator-slide {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  background-size: cover;
  opacity: 0;
} */

/* .home-content-rotator-slide-overlay {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));
  background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0));
} */

/* .home-content-rotator-slide-wrap {
  height: 100%;
  max-width: 1634px;
  margin: 0 auto;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
} */

/* @media (max-width: 1372px) */
/* .home-content-adspot-wrap {
    max-width: 980px;
} */

/* @media (max-width: 1720px) */
/* .home-content-adspot-wrap {
    max-width: 1304px;
} */

/* .home-content-adspot-wrap {
    width: 100%;
    max-width: 1634px;
    margin: 0 auto;
    z-index: 2;
} */


/* .home-content-adspot-wrap {
  width:100%;max-width:1634px;margin:0 auto;z-index:2;
}

@media (max-width: 1720px){
  .home-content-adspot-wrap{max-width:1304px;}
}

@media (max-width: 1372px) {
  .home-content-adspot-wrap{max-width:980px;}
}

@media (max-width: 1029px) {
  .home-content-adspot-wrap{max-width:645px;}
} */



/* .full-wrapper {
  position:relative;min-height:100px;background-color:#fff;padding:0;margin:0 auto;
}
.full-wrapper {
  width:auto;border:none;border-radius:0;
} */



.clearfix:after,.clearfix:before{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:active,a:hover{outline:0;}
img{max-width:100%;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
@media print{
*{text-shadow:none!important;color:#000!important;background:0 0!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
a{color:#e86c00;text-decoration:none;}
/* a:focus,a:hover{color:#cf6000;text-decoration:underline;} */
p{margin:0 0 10px;}
strong{font-weight:700;}
h1,h2,h3{margin:10px 0;font-family:inherit;font-weight:700;line-height:20px;color:inherit;text-rendering:optimizelegibility;}
h1,h2,h3{line-height:40px;}
h1{font-size:38.5px;}
h2{font-size:31.5px;}
h3{font-size:24.5px;}
ol{padding:0;margin:0 0 10px 25px;}
li{line-height:20px;}
hr{margin:20px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff;}
[class*=" icon-"],[class^=icon-]{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url(https://www.instructables.com/assets/img/glyphicons-halflings.png);background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.icon-arrow-right{background-position:-264px -96px;}
.carousel{position:relative;margin-bottom:20px;line-height:1;}
.carousel-inner{overflow:hidden;width:100%;position:relative;}
.carousel-inner>.item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;-moz-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left;}
.carousel-inner>.active{display:block;}
.carousel-inner>.active{left:0;}
.carousel-indicators{position:absolute;top:15px;right:15px;z-index:5;margin:0;list-style:none;}
.carousel-indicators li{display:block;float:left;width:10px;height:10px;margin-left:5px;text-indent:-999px;background-color:#ccc;background-color:rgba(255,255,255,.25);border-radius:5px;}
.carousel-indicators .active{background-color:#fff;}
.icon-arrow-right,.icon-contest,.icon-favorite,.icon-featured,.icon-imadeit,.icon-views1{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;background-image:none;color:#aeaeae;font-size:18px;width:20px;}
.icon-imadeit:before{content:"\77";}
.icon-featured:before{content:"\58";}
.icon-favorite:before{content:"\e602";}
.icon-views1:before{content:"\38";}
.icon-contest:before{content:"\e001";}
.icon-arrow-right:before{content:"\45";}
img{max-width:100%;}
h1,h2,h3{font-size:22px;font-weight:700;padding:0;margin:0;line-height:normal;}
h2{font-size:22px;}
h3{font-size:18px;}
p{margin:3px 0 10px;}
ol{list-style:none outside none;margin:0;padding:0;}
li{line-height:normal;}
a:hover{cursor:pointer;}
.full-wrapper{position:relative;min-height:100px;background-color:#fff;padding:0;margin:0 auto;}
.full-wrapper{width:auto;border:none;border-radius:0;}
.carousel.carousel-fade .carousel-inner .item{opacity:0;-webkit-transition:opacity 1s;-moz-transition:opacity 1s;-o-transition:opacity 1s;transition:opacity 1s;}
.carousel.carousel-fade .carousel-inner .active{opacity:1;}
/*! CSS Used from: https://www.instructables.com/assets/scss/global.css?c=b9a42ca95a */
.lazyload{opacity:0;}
.lazyloaded{background:none;}
/*! CSS Used from: https://www.instructables.com/assets/scss/home.css?c=b9a42ca95a */
.home-content h1,.home-content h2{text-transform:uppercase;font-family:"myriad-pro-condensed",Helvetica,Arial,sans-serif;margin-bottom:15px;}
.home-content h1{font-size:60px; font-weight: 700;}
.home-content h2{font-size:34px;}
.home-content p{font-size:18px;line-height:1.45;font-family:"myriad-pro",Helvetica,Arial,sans-serif;}
.home-content hr{border-top-color:#ccc;margin:15px 2.5vw 30px;}
.home-content-rotator{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:40vh;min-height:400px;}
.home-content-rotator-inner{height:100%;width:100%;position:relative;}
.home-content-rotator-slide{height:100%;width:100%;background-repeat:no-repeat;background-color:#f6f6f6;background-size:cover;opacity:0;}
.home-content-rotator-slide-overlay{cursor:pointer;position:absolute;width:100%;height:100%;left:0;top:0;z-index:2;background-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));background-image:linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0));}
.home-content-rotator-slide-wrap{height:100%;max-width:1634px;margin:0 auto;padding-left:2.5vw;padding-right:2.5vw;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.home-content-rotator-slide-align-middle{background-position:center center;}
.home-content-rotator-slide.item{display:block;position:absolute;top:0;left:0;}
.home-content-rotator-slide.item.active{opacity:1;}
.home-content-rotator-indicator{cursor:pointer;top:initial;right:initial;}
.home-content-rotator-indicator-wrap{position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-item-align:end;align-self:flex-end;max-width:1304px;width:95vw;height:80px;}
.home-content-adspot-wrap{width:100%;max-width:1634px;margin:0 auto;z-index:2;}
@media (max-width: 1720px){
.home-content-adspot-wrap{max-width:1304px;}
}
@media (max-width: 1372px){
.home-content-adspot-wrap{max-width:980px;}
}
@media (max-width: 1029px){
.home-content-adspot-wrap{max-width:645px;}
}
.home-content-adspot-text{color:#fff;width:45vw;max-width:520px;border-top:1px solid #fff;border-bottom:1px solid #fff;padding:25px 0;text-shadow:0 1px 4px rgba(0,0,0,0.15);}
.home-content-text{margin-left:2.5vw;margin-right:2.5vw;}
.home-content-text-wrap{max-width:1634px;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;}
@media (max-width: 1720px){
.home-content-text-wrap{max-width:1304px;}
}
@media (max-width: 1372px){
.home-content-text-wrap{max-width:980px;}
}
@media (max-width: 1029px){
.home-content-text-wrap{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;max-width:645px;}
}
.home-content-text p{color:#555;}
.home-content-text-box{padding-top:30px;margin-right:5vw;margin-bottom:30px;width:100%;}
@media (max-width: 1029px){
.home-content-text-box{min-width:100%;}
}
.home-content-text-box:last-child{margin-right:0;}
.home-content-explore{margin-left:2.5vw;margin-right:2.5vw;clear:both;}
.home-content-explore .home-content-explore-ible{float:left;width:306px;min-width:306px;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;margin:10px 10px 20px;border:1px solid #ddd;border-radius:4px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.15);box-shadow:0 1px 0 rgba(0,0,0,0.15);-webkit-transition:border 0.25s, -webkit-box-shadow 0.25s;transition:border 0.25s, -webkit-box-shadow 0.25s;transition:border 0.25s, box-shadow 0.25s;transition:border 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;}
.home-content-explore .home-content-explore-ible:hover{-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);box-shadow:0 1px 0 rgba(0,0,0,0.25);border:1px solid #ccc;}
.home-content-explore .home-content-explore-ible img{width:306px;height:255px;border-radius:4px 4px 0 0;}
.home-content-explore .home-content-explore-ible-info{padding:10px 13px;margin-bottom:10px;height:50px;overflow:hidden;color:#999;}
.home-content-explore .home-content-explore-ible .ible-title{line-height:20px;font-weight:700;font-size:14px;color:#333;}
.home-content-explore .home-content-explore-ible .ible-featured{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.home-content-explore .home-content-explore-ible .ible-author,.home-content-explore .home-content-explore-ible .ible-channel{font-size:13px;}
.home-content-explore .home-content-explore-ible .ible-author a,.home-content-explore .home-content-explore-ible .ible-channel a{color:#555;}
.home-content-explore .home-content-explore-ible .contest-prize{font-size:12px;}
.home-content-explore .home-content-explore-ible .contest-prize a{color:#555;}
.home-content-explore .home-content-explore-ible .ible-stats{display:none;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:12px;color:#76736e;height:15px;line-height:15px;padding:7px 8px 8px;background-color:#f6f6f6;border-top:1px solid #e7e7e7;}
.home-content-explore .home-content-explore-ible .ible-stats .icon{line-height:12px;}
.home-content-explore .home-content-explore-ible .ible-stats .icon-featured{line-height:26px;height:inherit;}
.home-content-explore .home-content-explore-ible .ible-stats .icon-imadeit{position:relative;top:-1px;}
.home-content-explore .home-content-explore-ible .ible-stats-right-col span{padding-left:8px;}
.home-content-explore .home-content-explore-ible .thumb-divider{border-right:1px solid #e7e7e7;display:inline-block;top:-7px;padding-right:5px;height:30px;margin-right:4px;vertical-align:top;}
.home-content-explore-ible:first-child{margin-left:0;}
@media (max-width: 1720px){
.home-content-explore-ible:nth-child(5){display:none;}
}
@media (max-width: 1372px){
.home-content-explore-ible:nth-child(4),.home-content-explore-ible:nth-child(5){display:none;}
}
@media (max-width: 1029px){
.home-content-explore-ible:nth-child(4){display:block;}
.home-content-explore-ible:nth-child(3){margin-left:0;}
.home-content-explore-ible:nth-child(5){display:none;}
}
.home-content-explore-wrap,.home-content-explore-category-wrap{max-width:1634px;margin:0 auto;}
@media (max-width: 1720px){
.home-content-explore-wrap,.home-content-explore-category-wrap{max-width:1304px;}
}
@media (max-width: 1372px){
.home-content-explore-wrap,.home-content-explore-category-wrap{max-width:980px;}
}
@media (max-width: 1029px){
.home-content-explore-wrap,.home-content-explore-category-wrap{max-width:645px;}
}
.home-content-explore-link:hover .anchor-text{text-decoration:underline;}
.home-content-explore h2{margin-bottom:30px;}
.home-content-explore h3{display:inline-block;text-transform:capitalize;color:#333;}
.home-content-explore h3 .icon-arrow-right{position:relative;font-size:22px;left:-4px;}
.home-content-explore-category{margin-bottom:30px;}




/*! CSS Used fontfaces */
/* @font-face{font-family:icomoon;src:url(https://www.instructables.com/assets/fonts/icomoon.eot?yhg5qp);src:url(https://www.instructables.com/assets/fonts/icomoon.eot#iefixyhg5qp) format('embedded-opentype'),url(https://www.instructables.com/assets/fonts/icomoon.woff?yhg5qp) format('woff'),url(https://www.instructables.com/assets/fonts/icomoon.ttf?yhg5qp) format('truetype'),url(https://www.instructables.com/assets/fonts/icomoon.svg?yhg5qp#icomoon) format('svg');font-weight:400;font-style:normal;font-display:fallback;}
@font-face{font-family:myriad-pro-condensed;src:url(https://www.instructables.com/assets/fonts/myriad-pro-condensed-normal-600.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-condensed-normal-600.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-condensed-normal-600.otf) format("opentype");font-display:auto;font-style:normal;font-weight:600;}
@font-face{font-family:myriad-pro;src:url(https://www.instructables.com/assets/fonts/myriad-pro-normal-700.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-normal-700.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-normal-700.otf) format("opentype");font-display:auto;font-style:normal;font-weight:700;}
@font-face{font-family:myriad-pro;src:url(https://www.instructables.com/assets/fonts/myriad-pro-italic-700.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-italic-700.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-italic-700.otf) format("opentype");font-display:auto;font-style:italic;font-weight:700;}
@font-face{font-family:myriad-pro;src:url(https://www.instructables.com/assets/fonts/myriad-pro-italic-400.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-italic-400.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-italic-400.otf) format("opentype");font-display:auto;font-style:italic;font-weight:400;}
@font-face{font-family:myriad-pro;src:url(https://www.instructables.com/assets/fonts/myriad-pro-normal-400.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-normal-400.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-normal-400.otf) format("opentype");font-display:auto;font-style:normal;font-weight:400;}
@font-face{font-family:myriad-pro;src:url(https://www.instructables.com/assets/fonts/myriad-pro-normal-600.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-normal-600.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-normal-600.otf) format("opentype");font-display:auto;font-style:normal;font-weight:600;}
@font-face{font-family:myriad-pro;src:url(https://www.instructables.com/assets/fonts/myriad-pro-italic-600.woff2) format("woff2"),url(https://www.instructables.com/assets/fonts/myriad-pro-italic-600.woff) format("woff"),url(https://www.instructables.com/assets/fonts/myriad-pro-italic-600.otf) format("opentype");font-display:auto;font-style:italic;font-weight:600;} */
