@import url('https://fonts.cdnfonts.com/css/myriad-pro');
body { margin: 0; padding: 0; background-color: white; max-width: 100%; overflow-x: hidden;}

.site-header {
    position: relative;
    z-index: 4;
    display: block;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 690px;
}

.site-header-top {
    background: #555;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 23px 5px 0px;
    margin-left:-28px;
    min-height: 28px;
    font-size: 12px;
    font-weight: 100;
    height: 10px;
}

.site-header-top .left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.site-header-nav {
    display: inline-block;
}

.fa-home {
    font-size: 1rem;
    color: #ccc;
}

.fa-home:hover {
    color: white;
}

.site-header-nav ul {
    line-height: 28px;
    margin-right: 15px;
    list-style: none outside none;
    margin: 0 0 10px 25px;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.site-header-nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: normal;
    text-align: -webkit-match-parent;
}

.site-header-nav a {
    position: relative;
    top: 1px;
    font-size: 13px;
    color: #ccc;
    text-decoration: none;
}

.site-header-nav a:hover {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.site-header-top .right-col {
    margin-top: auto;
    margin-bottom: auto;
}

#login-menu > .pipe {
    padding-right: 8px;
    padding-left: 8px;
    color: #ccc;
}

.category-nav-link > button:link {
    color: #ccc;
    text-decoration: none;
}

.category-nav-link > button:visited {
    color: #ccc;
}

.category-nav-link > button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#login:link {
    color: #fff;
    text-decoration: none;
}

#login:visited {
    color: #fff;
}

#login:hover {
    cursor: pointer;
    text-decoration: underline;
}

#sign-up:link {
    color: #fff;
    text-decoration: none;
}

#sign-up:visited {
    color: #fff;
}

#sign-up:hover {
    cursor: pointer;
    text-decoration: underline;
}





.site-header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px, 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #eee;
    background-color: #eee;
}

.site-header-bottom .left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #eee;
    background-color: #eee;
}

.site-logo {
    position: relative;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    min-width: 228px;
    text-decoration: none !important;
}

.ingestibles-logo {
    max-height: 85px;
    width: auto;
    margin-left: 5px
}

#site-header-category-brand {
    font-family: 'Myriad Pro',Helvetica,Arial,sans-serif;
}


.btn-category-header {
    position: relative;
    top: -2px;
    margin: 0 5px;
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    text-decoration: none !important;
}

.site-header-bottom .right-col {
    min-width: 225px;
    display: block;
    background-color: #eee;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-right: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.site-header-bottom .site-header-nav {
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.site-header-secondary-nav > ul {
    line-height: 28px;
    margin-right: 15px;
    list-style: none outside none;
    padding: 0;
    margin: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background-color: #eee;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.site-header-secondary-nav > ul > li {
    display: inline-block;
    margin: 0 8px;
    line-height: normal;
    text-align: center;
    list-style: none outside none;
}

#site-header-secondary-link {
    font-size: 13px;
    color: #555;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-decoration: none;
    margin-right: 15px;
}

#site-header-secondary-link:link {
    color: #555;
    text-decoration: none;
}

#site-header-secondary-link:visited {
    color: #555;
}

#site-header-secondary-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

form.site-search-form {
    position: relative;
    display: inline-block;
    margin: 0;
    background-color: #eee;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

form.site-search-form .site-search-input {
    position: relative;
    top: 0;
    margin: 0;
    padding: 6px 10px;
    width: 93px;
    background-color: #fff;
    padding-right: 28px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

form.site-search-form .site-search-input:focus {
    border-color:rgba(82,168,236,.8);
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}

.submit-btn {
    border: none;
    position: absolute;
    right: 0;
    width: 28px;
    height: 28px;
}

.submit-btn:hover {
    cursor: pointer;
}

.submit-btn:not(.btn) {
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: initial;
    font-weight: inherit;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    margin-top: 5px;
}


.fa-search {
    font-size: 19px;
    color: #AEAEAE;
    line-height: 15px;
}


#you-menu-container {
    font-size: 12px;
}

a.category-nav-link {
    color: #ccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.6px;
    font-size: 12px;
}

#you-menu {
    z-index: 2300;
    position: absolute;
    top: 23px;
    right: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

#you-menu * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#you-menu-container {
    font-size: 12px;
}

#you-menu-container li span {
    color: #333;
    font-weight: 700;
}

#you-menu > a:not(.btn) {
    color: #333;
}

#you-menu a:not(.btn) {
    line-height: 22px;
    color: #777;
    padding: 0 5px;
}

#you-menu a:not(.btn):hover {
    text-decoration: none;
}

#you-menu .divider {
    border-bottom-color: #ccc;
}

#you-menu .button-actions {
    margin: 10px 15px;
}

#you-menu > .dropdown-menu {
    padding: 10px 0 0;
    width: 300px;
}

#you-menu > .dropdown-menu a:not(.btn) {
    padding: 4px 15px;
    font-size: 14px;
}

#you-menu > .dropdown-menu > li.multi-link {
    clear: both;
}

#you-menu > .dropdown-menu > li.multi-link > a:not(.btn) {
    clear: none !important;
    display: inline-block;
}

#you-menu > .dropdown-menu > li.multi-link > a:not(.btn):first-child {
    width: 155px;
    padding-right: 0;
    margin-right: 30px;
}

#you-menu #you-image {
    vertical-align: middle;
    margin-right: 2px;
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

#you-menu li a:not(.btn):hover {
    background-color: transparent;
    color: #333;
}

#you-menu li a:not(.btn):hover .badge {
    background-color: #4d4c4c;
}

#you-menu li span {
    color: #fff;
}

#you-menu .badge {
    margin-right: 0;
    background-color: #999;
}

#you-menu .btn-logout {
    width: 92px;
    position: absolute;
    top: 11px;
    right: 11px;
}

#you-menu .create-btn {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
}

.site-header-top a.category-nav-link {
    color: #ccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.6px;
    font-size: 12px;
}

#you-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: auto;
}

#you-menu #you-image {
    top: 0;
    width: 28px;
    height: 28px;
}

.site-header-top .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.site-header-top .feed-link {
    position: relative;
    top: 1px;
    margin: 0 12px;
}

.fa-user-circle {
    font-size: 1.9rem;
    color: #A0C3FF;
    max-width:100%;
    background-color: #4374E0;
    border-radius: 50%;
}

.fa-user-circle:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus,.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f6f6f6,#e9e9e9);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f6f6f6),to(#e9e9e9));
    background-image: -webkit-linear-gradient(top,#f6f6f6,#e9e9e9);
    background-image: -o-linear-gradient(top,#f6f6f6,#e9e9e9);
    background-image: linear-gradient(to bottom,#f6f6f6,#e9e9e9);
    background-repeat: repeat-x;
}

.open > .dropdown-menu {
    display: block;
}

.pull-right {
    float: right;
}

img {
    max-width: 100%;
}

ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

li {
    line-height: normal;
}

a:hover {
    cursor: pointer;
}

.btn{-moz-user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;display:inline-block;font-size:14px;font-weight:400;margin-bottom:0;padding:6px 12px;text-align:center;vertical-align:middle;white-space:nowrap;text-shadow:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;background-color:#f6f6f6;border-color:#dedede;color:#333;}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-default {
    background-color: #f6f6f6;
    border-color: #dedede;
    color: #333;
}

.btn-default:active {
    border-color: #d4d4d4;
}

.btn-default:active,.btn-default:focus,.btn-default:hover {
    background-color: #eee;
    border-color: #d4d4d4;
    color: #333;
}

.btn-default:active {
    background-image: none;
}

.dropdown-menu a:not(.btn) {
    line-height: 24px;
    padding: 0 15px;
}

.dropdown-menu li > a:not(.btn):focus,.dropdown-menu li > a:not(.btn):hover {
    background-color: #f4f9fb;
    color: #333;
    background-image: none;
}

.btn-yellow {
    background-color: #faac18;
    border-color: #e5991e;
    color: #fff;
}

.btn-yellow:active,.btn-yellow:focus,.btn-yellow:hover {
    background-color: #f0a428;
    border-color: #e2961b;
    color: #fff;
}

.btn-yellow:active {
    background-image: none;
}

.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: 700;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #999;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:empty {
    display: none;
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.searchedRecipes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchTerm {
    margin-left: 50px;
    color: orange;
}
