#kitchen {
  background-image: url("https://images.unsplash.com/photo-1556911220-bff31c812dba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position-y: 87%;
  margin-bottom: 50px;
}
